body {
  background-color: #fff;
  font-family: "Montserrat", serif;
  font-style: normal;
  font-size: large;
  margin: 0;
  padding: 0;
}

#navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  /* width: 100%; */
  z-index: 1000;
  background-color: #fff;
  border: solid #333;
}

#navbar a {
  float: right;
  display: block;
  color: #e65f5c;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

#navbar a:hover {
  color: black;
  text-decoration: underline;
}

.nav-toggle {
  display: none;
  float: right;
  font-size: 20px;
  background-color: #333;
  color: black;
  border: none;
  padding: 14px 20px;
}

@media screen and (max-width: 600px) {
  #navbar a:not(:first-child),
  .nav-toggle {
    display: none;
  }
  #navbar a.icon {
    float: right;
    display: block;
  }
  #navbar.responsive {
    position: relative;
  }
  #navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  #navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar.responsive .nav-toggle {
    display: block;
  }
}

.homepage-img {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

.homepage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  /* padding: 10px; */
  gap: 50px;
  padding: 10px 15%;
  border-radius: 5px;
 
  height: 100vh;
  width: auto;
  /* background-color: #e65f5c; */
  color: black;
}

.homepage-content {
flex: 1 1 50% ;  
margin: 40px;
flex-direction: column;
align-items: center;
text-align: justify;
} 

mark {
  background-color: #e65e5c71 ;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.block {
  flex: 1 1 20%;
  padding: 50px;
  flex-direction: column;
  /* border: 0.2px solid black; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
 
.block div {
  display: flex;
  flex-direction: column;
}

img {
  align-items: center;
  width: 20vw;
  height: max-content;
}

.image-div {
align-items: center;
}

p {
  width: fit-content;
  text-align: justify;
}

h2 {
  text-align: center;
}
.titles {
  text-align: center;
  color: black;
}

.project-links {
  color: black;
  text-decoration: none;
}

.block:hover {
  transform: scale(1.01);
  /* border-radius: 35px; */
}

.project:hover {
  border: 0.1px solid #e65f5c;
}


li {
  font-size: 20px;
  list-style: none;
}

a {
  color: #e65f5c;
}

footer {
  background-color: #e65f5c;
  padding: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer a {
  font-size: 16pt;
  color: #fff;
  margin: 10px;
  display: flex;
  margin-top: 0;
}

.footer-text {
  margin-top: 0;
  color: #fff;
}

.work-btn {
  font-size: 14px;
  background-color: #fff;
  border: #333 solid;
  padding: 1%;
}

.work-btn:hover {
  background-color: #e65f5c ;
  color: #fff ;
  cursor: pointer;
}
